absl-py==0.1.13
asn1crypto==0.24.0
astor==0.6.2
attrs==18.1.0
Automat==0.6.0
bleach==1.5.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
configobj==5.0.6
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
cycler==0.10.0
Cython==0.27.3
decorator==4.2.1
dill==0.2.7.1
enum34==1.1.6
Flask==0.12.2
gast==0.2.0
graphviz==0.8.2
grpcio==1.10.0
h5py==2.7.1
html5lib==0.9999999
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
Keras==2.1.4
llvmlite==0.23.0
lxml==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mmdnn==0.1.4
msgpack==0.5.6
msgpack-numpy==0.4.3
mxnet==1.0.0.post4
numba==0.38.0
numpy==1.14.2
opencv-python==3.4.0.12
pandas==0.22.0
parsel==1.4.0
parso==0.1.1
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycocotools==2.0
pycparser==2.18
PyDispatcher==2.0.5
pydot-ng==1.0.0
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pypinyin==0.30.1
pypiwin32==223
pyreadline==2.1
python-dateutil==2.6.1
pytz==2017.3
pywin32==223
PyYAML==3.12
pyzmq==17.0.0
queuelib==1.5.0
requests==2.18.4
resampy==0.2.0
scikit-learn==0.19.1
scipy==1.0.0
Scrapy==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
SoundFile==0.10.2
tabulate==0.8.2
tensorboard==1.6.0
tensorflow==1.6.0
tensorflow-gpu==1.6.0
tensorflow-serving-api-python3==1.4.0
tensorflow-tensorboard==1.5.1
tensorpack==0.8.2
termcolor==1.1.0
tqdm==4.19.6
traitlets==4.3.2
Twisted==18.4.0
urllib3==1.22
uuid==1.30
w3lib==1.19.0
wcwidth==0.1.7
Werkzeug==0.14.1
zope.interface==4.5.0
